YazlabII-I/bin/Debug/YazlabII-I.exe.config
YazlabII-I/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
YazlabII-I/obj/Debug/YazlabII-I.csproj.FileListAbsolute.txt
YazlabII-I/Properties/Settings.settings
*.manifest
*/Debug
YazlabII-I/bin/Debug/YazlabII-I.vshost.exe.config
YazlabII-I/obj/Debug/YazlabII_I.Form1.resources